{% extends "base.html" %}

{% block title %}Biggest Stats{% endblock %}

{% block content %}
  <h1>Biggest Stats</h1>
  <p>Curious about what your biggest seven day period was? You can find out stats like that by submitting the form on this page. Just choose what activity type, stat type (distance, elevation gain, or time), and the duration. You can also choose to exclude races if you are more interested in your biggest training period rather than a period that involves a race.</p>
  <p>Stats on this page are static once generated. If you want to update the stats, simply re-submit the form and it will update the entry.</p>
  <form action="/big" method="get">
    {{ form_widget(form) }}
    <input type="submit" name="submit" />
  </form>
  <table>
    <tr>
      <th>Activity Type</th>
      <th>Stat Type</th>
      <th>Excluding Races</th>
      <th>Duration</th>
      <th>Stat</th>
      <th>Date Range</th>
      <th>Operations</th>
    </tr>
    {% for stat in stats %}
      <tr>
        <td class="activity_type">{{ stat.activity_type }}</td>
        <td class="stat_type">{{ stat.stat_type }}</td>
        <td class="excluding_races">{{ stat.excluding_races }}</td>
        <td class="duration">{{ stat.duration }} days</td>
        <td class="stat">{{ stat.stat }}</td>
        <td class="date_range">{{ stat.start_date }} to {{ stat.end_date }}</td>
        <td class="operations"><a class="update" href="/big/update/{{ stat.id }}">Update</a> <a class="delete" href="/big/delete/{{ stat.id }}">Delete</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
