{% extends "base.html" %} {% block content %}
<form action="/segments" method="get">
  {{ form_widget(form) }}
  <input type="submit" name="submit" />
</form>
<table>
  <tr>
    <th>Segment</th>
    <th>Activity Type</th>
    <th>Distance</th>
  </tr>
  {% for segment in segments %}
  <tr>
    <td>
      <a href="https://www.strava.com/segments/?{{ segment.id }}">{{ segment.name }}</a>
    </td>
    <td>{{ segment.activity_type }}</td>
    <td>{{ segment.distance }}</td>
  </tr>
  {% endfor %}
</table>
<ul class="pagination">
  {% for number, position in pages %} {% if position == 'first' %}
  <li>
    <a href="/segments?{{ current_params_minus_page }}&page={{ number }}">&laquo;</a>
  </li>
  {% elseif position == 'less' or position == 'more' %}
  <li>...</li>
  {% elseif position == 'previous' or position == 'next' %}
  <li>
    <a href="/segments?{{ current_params_minus_page }}&page={{ number }}">{{ number }}</a>
  </li>
  {% elseif position == 'current' %}
  <li>{{ number }}</li>
  {% elseif position == 'last' %}
  <li>
    <a href="/segments?{{ current_params_minus_page }}&page={{ number }}">&raquo;</a>
  </li>
  {% endif %} {% endfor %}
</ul>
{% endblock %}