{% extends "base.html" %}

{% block title %}{{ activity.name }}{% endblock %}

{% block content %}
  <h1>{{ activity.name }}</h1>
  <p><a href="https://www.strava.com/activities/{{ activity.id }}">Strava Page</a>
  <p>Distance: {{ activity.distance }} {{ format }}</p>
  {% if segment_efforts is not empty %}
    <h2>Segment Efforts</h2>
    <table>
      <tr>
        <th class="name">Name</th>
        <th class="time">Time</th>
        <th class="pr">PR</th>
        <th class="kom">KOM Rank</th>
      </tr>
      {% for effort in segment_efforts %}
      <tr>
        <td class="name"><a href="/segments/{{ effort.segment_id }}">{{ effort.effort_name }}</a></td>
        <td class="time"><a href="https://www.strava.com/activities/{{ effort.activity_id }}/segments/{{ effort.effort_id }}">{{ effort.elapsed_time }}</a></td>
        <td class="pr">{{ effort.pr_rank }}</td>
        <td class="kom">{{ effort.kom_rank }}</td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p class="no_data">There are no segment efforts on this activity.</p>
  {% endif %}
{% endblock %}
