{% extends "base.html" %}

{% block title %}{{ activity.name }}{% endblock %}

{% block content %}
  <h1>{{ activity.name }}</h1>
  <p><a href="https://www.strava.com/activities/{{ activity.id }}" target="_blank">Strava Page</a>
  <p>Activity Type: {{ activity.type }}</p>
  <p>Date: {{ activity.start_date }}</p>
  <p>Distance: {{ activity.distance }} {{ format }}</p>
  <p>Elevation Gain: {{ activity.total_elevation_gain }} {{ elevation_gain_format }}</p>
  {% if activity.average_heartrate is not empty %}
    <p>Heart Rate: {{ activity.average_heartrate }} / {{ activity.max_heartrate }}</p>
  {% endif %}
  {% if activity.average_watts is not empty %}
    <p>Watts: {{ activity.average_watts }}</p>
  {% endif %}
  {% if activity.average_cadence is not empty %}
    <p>Cadence: {{ activity.average_cadence }}</p>
  {% endif %}
  {% if segment_efforts is not empty %}
    <h2>Segment Efforts</h2>
    <table>
      <tr>
        <th class="name">Name</th>
        <th class="time">Time</th>
        <th class="distance">Distance</th>
        <th class="cadence">Avg Cadence</th>
        {% if activity.type in ['Cycling', 'Virtual Ride'] %}
          <th class="watts">Avg Watts</th>
        {% endif %}
        <th class="hr">Avg HR</th>
        <th class="max_hr">Max HR</th>
        <th class="pr">PR</th>
        <th class="kom">KOM Rank</th>
      </tr>
      {% for effort in segment_efforts %}
      <tr>
        <td class="name"><a href="/segments/{{ effort.segment_id }}">{{ effort.name }}</a></td>
        <td class="time"><a href="https://www.strava.com/activities/{{ effort.activity_id }}/segments/{{ effort.id }}" target="_blank">{{ effort.elapsed_time }}</a></td>
        <td class="distance">{{ effort.distance }} {{ format }}</th>
        <td class="cadence">{{ effort.average_cadence }}</th>
        {% if activity.type in ['Cycling', 'Virtual Ride'] %}
          <td class="watts">{{ effort.average_watts }}</th>
        {% endif %}
        <td class="hr">{{ effort.average_heartrate }}</th>
        <td class="max_hr">{{ effort.max_heartrate }}</th>
        <td class="pr">{{ effort.pr_rank }}</td>
        <td class="kom">{{ effort.kom_rank }}</td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p class="no_data">There are no segment efforts on this activity.</p>
  {% endif %}
  <p>If the activity or segment needs updated then you can <a href="/activities/{{ activity.id }}/refresh">refresh</a>.</p>
{% endblock %}
