{% extends "base.html" %}

{% block title %}Activities{% endblock %}

{% block content %}
  <h1>Activities</h1>
  <p><a href="https://www.strava.com/athlete/training" target="_blank">Strava
  Activities</a>
  <form action="/activities" method="get">
    {{ form_widget(form) }}
    <input type="submit" name="submit" />
  </form>
  <table>
    <tr>
      <th class="date">
        <a href="/activities?{{ current_params_minus_sort }}&sort=date">Date</a>
      </th>
      <th class="name">Activity</th>
      {% if type == 'All' or type == 'Run' or type == 'Ride' %}
        <th class="activity_type">Type</th>
      {% endif %}
      <th class="distance">
        <a href="/activities?{{ current_params_minus_sort }}&sort=distance">Distance ({{ format }})</a>
      </th>
      <th class="time">Elapsed Time</th>
      <th class="elevation_gain">
        <a href="/activities?{{ current_params_minus_sort }}&sort=gain">Elevation Gain ({{ gain_format }})</a>
      </th>
    </tr>
    {% for activity in activities %}
      <tr>
        <td class="date">{{ activity.date }}</td>
        <td class="name"><a href="/activities/{{ activity.id }}">{{ activity.name }}</a></td>
        {% if type == 'All' or type == 'Run' or type == 'Ride' %}
          <td class="activity_type">{{ activity.type }}</td>
        {% endif %}
        <td class="distance">{{ activity.distance }}</td>
        <td class="time">{{ activity.elapsed_time }}</td>
        <td class="elevation_gain">{{ activity.total_elevation_gain }}</td>
      </tr>
    {% endfor %}
  </table>
  <div class="pagerfanta">
    {{ pagerfanta(pager, 'default', { 'omitFirstPage': true}) }}
  </div>
{% endblock %}
