{% extends "base.html" %}

{% block title %}{{ activity.name }}{% endblock %}

{% block content %}
  <h1>{{ activity.name }}</h1>
  <p><a href="https://www.strava.com/activities/{{ activity.id }}">Strava Page</a>
  <p>Activity Type: {{ activity.type }}</p>
  <p>Distance: {{ activity.distance }} {{ format }}</p>
  {% if segment_efforts is not empty %}
    <h2>Segment Efforts</h2>
    <p><a href="/activities/{{ activity.id }}/refresh">Refresh Segments</a></p>
    <table>
      <tr>
        <th class="name">Name</th>
        <th class="time">Time</th>
        <th class="distance">Distance</th>
        <th class="cadence">Avg Cadence</th>
        {% if activity.type in ['Ride', 'VirtualRide'] %}
          <th class="watts">Avg Watts</th>
        {% endif %}
        <th class="hr">Avg HR</th>
        <th class="max_hr">Max HR</th>
        <th class="pr">PR</th>
        <th class="kom">KOM Rank</th>
      </tr>
      {% for effort in segment_efforts %}
      <tr>
        <td class="name"><a href="/segments/{{ effort.segment_id }}">{{ effort.effort_name }}</a></td>
        <td class="time"><a href="https://www.strava.com/activities/{{ effort.activity_id }}/segments/{{ effort.effort_id }}">{{ effort.elapsed_time }}</a></td>
        <td class="distance">{{ effort.distance }} {{ format }}</th>
        <td class="cadence">{{ effort.average_cadence }}</th>
        {% if effort.activity_type in ['Ride', 'VirtualRide'] %}
          <td class="watts">{{ effort.average_watts }}</th>
        {% endif %}
        <td class="hr">{{ effort.average_heartrate }}</th>
        <td class="max_hr">{{ effort.max_heartrate }}</th>
        <td class="pr">{{ effort.pr_rank }}</td>
        <td class="kom">{{ effort.kom_rank }}</td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p class="no_data">There are no segment efforts on this activity. If you think there should be then you can <a href="/activities/{{ activity.id }}/refresh">refresh segment efforts</a>.</p>
  {% endif %}
{% endblock %}
