{% extends "base.html" %}

{% block title %}KOMs and PRs{% endblock %}

{% block content %}
  <h1>KOMs and PRs</h1>
  <form class="records_form" action="/records" method="get">
    {{ form_widget(form) }}
    <input type="submit" name="submit" />
  </form>
  <table>
    <tr>
      <th class="date">
        <a href="/records?{{ current_params_minus_sort }}&sort=date">Date</a>
      </th>
      <th class="name">Segment</th>
      {% if type == 'All' %}
        <th class="type">Type</th>
      {% endif %}
      <th class="distance">
        <a href="/records?{{ current_params_minus_sort }}&sort=distance">Distance ({{ format }})</a>
      </th>
      <th class="time">Time</th>
      <th class="avg_grade">
        <a href="/records?{{ current_params_minus_sort }}&sort=avg">Avg Grade</a>
      </th>
      <th class="max_grade">
        <a href="/records?{{ current_params_minus_sort }}&sort=max">Max Grade</a>
      </th>
      <th class="location">Location</th>
      <th class="pr">PR</th>
      <th class="kom">KOM Rank</th>
    </tr>
    {% for effort in efforts %}
      <tr>
        <td class="date">{{ effort.date }}</td>
        <td class="name"><a href="/segments/{{ effort.segment_id }}">{{ effort.name }}</a></td>
        {% if type == 'All' %}
          <td class="type">{{ effort.type }}</td>
        {% endif %}
        <td class="distance">{{ effort.distance }}</td>
        <td class="time">{{ effort.time }}</td>
        <td class="avg_grade">{{ effort.average_grade }}%</td>
        <td class="max_grade">{{ effort.maximum_grade }}%</td>
        <td class="location">{{ effort.city }}, {{ effort.state }}</td>
        <td class="pr">{{ effort.pr_rank }}</td>
        <td class="kom">{{ effort.kom_rank }}</td>
      </tr>
    {% endfor %}
  </table>
  <div class="pagerfanta">
    {{ pagerfanta(pager, 'default', { 'omitFirstPage': true}) }}
  </div>
{% endblock %}
