{% extends "base.html" %}

{% block title %}Segment Efforts for {{ segment.name|default('Unknown Segment') }}{% endblock %}

{% block content %}
  <h1>Segment Efforts for {{ segment.name|default('Unknown Segment') }}</h1>
  {% if segment is not empty %}
    <p><a href="https://www.strava.com/segments/{{ segment.id }}" target="_blank">Strava Page</a>
    <p>Activity Type: {{ segment.activity_type }}</p>
    <p>Distance: {{ segment.distance }} {{ format }}</p>
  {% endif %}
  {% if segment_efforts is not empty %}
    <table class="segment_efforts">
      <tr>
        <th class="date">
          <a href="/segments/{{ segment.id }}?sort=date">Date</a>
        </th>
        <th class="time">
          <a href="/segments/{{ segment.id }}?sort=time">Time</a>
        </th>
        <th class="cadence">Avg Cadence</th>
        {% if segment.activity_type in ['Ride', 'VirtualRide'] %}
          <th class="watts">Avg Watts</th>
        {% endif %}
        <th class="hr">Avg HR</th>
        <th class="max_hr">Max HR</th>
        <th class="pr">PR</th>
        <th class="kom">KOM Rank</th>
      </tr>
      {% for effort in segment_efforts %}
      <tr>
        <td class="date">{{ effort.start_date }}</td>
        <td class="time"><a href="https://www.strava.com/activities/{{ effort.activity_id }}/segments/{{ effort.id }}" target="_blank">{{ effort.elapsed_time }}</a></td>
        <td class="cadence">{{ effort.average_cadence }}</th>
        {% if effort.activity_type in ['Ride', 'VirtualRide'] %}
          <td class="watts">{{ effort.average_watts }}</th>
        {% endif %}
        <td class="hr">{{ effort.average_heartrate }}</th>
        <td class="max_hr">{{ effort.max_heartrate }}</th>
        <td class="pr">{{ effort.pr_rank }}</td>
        <td class="kom">{{ effort.kom_rank }}</td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no segment efforts on this segment.</p>
  {% endif %}
{% endblock %}
