{% extends "base.html" %}

{% block title %}Segment Efforts for {{ segment.name }}{% endblock %}

{% block content %}
  <h1>Segment Efforts for {{ segment.name }}</h1>
  <p><a href="https://www.strava.com/segments/{{ segment.id }}">Strava Page</a>
  <p>Distance: {{ segment.distance }} {{ format }}</p>
  {% if segment_efforts is not empty %}
    <table class="segment_efforts">
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>PR</th>
        <th>KOM Rank</th>
      </tr>
      {% for effort in segment_efforts %}
      <tr>
        <td class="date">{{ effort.start_date }}</td>
        <td class="time"><a href="https://www.strava.com/activities/{{ effort.activity_id }}/segments/{{ effort.id }}">{{ effort.elapsed_time }}</a></td>
        <td class="pr_rank">{{ effort.pr_rank }}</td>
        <td class="kom_rank">{{ effort.kom_rank }}</td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no segment efforts on this segment.</p>
  {% endif %}
{% endblock %}
