{% extends "base.html" %}

{% block title %}KOMs and PRs{% endblock %}

{% block content %}
  <h1>KOMs and PRs</h1>
  <form action="/records" method="get">
    {{ form_widget(form) }}
    <input type="submit" name="submit" />
  </form>
  <table>
    <tr>
      <th>
        <a href="/records?{{ current_params_minus_sort }}&sort=date">Date</a>
      </th>
      <th>Segment</th>
      {% if type == 'All' %}
        <th>Type</th>
      {% endif %}
      <th>
        <a href="/records?{{ current_params_minus_sort }}&sort=distance">Distance ({{ format }})</a>
      </th>
      <th>Time</th>
      <th>
        <a href="/records?{{ current_params_minus_sort }}&sort=avg">Avg Grade</a>
      </th>
      <th>
        <a href="/records?{{ current_params_minus_sort }}&sort=max">Max Grade</a>
      </th>
      <th>Location</th>
      <th>PR</th><th>KOM Rank</th>
    </tr>
    {% for effort in efforts %}
      <tr>
        <td>{{ effort.date }}</td>
        <td><a href="https://www.strava.com/activities/{{ effort.activity_id }}/segments/{{ effort.effort_id }}">{{ effort.name }}</a></td>
        {% if type == 'All' %}
          <td>{{ effort.type }}</td>
        {% endif %}
        <td>{{ effort.distance }}</td>
        <td>{{ effort.time }}</td>
        <td>{{ effort.average_grade }}%</td>
        <td>{{ effort.maximum_grade }}%</td>
        <td>{{ effort.city }}, {{ effort.state }}</td>
        <td>{{ effort.pr_rank }}</td>
        <td>{{ effort.kom_rank }}</td>
      </tr>
    {% endfor %}
  </table>
  {{ pagerfanta(pager, 'default', { 'omitFirstPage': true}) }}
{% endblock %}
